<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel="stylesheet/less" href="/less/bootstrap.less">
    <script src="/js/less-1.1.5.min.js"></script>
  </head>
  <body>
    <div class="topbar">
      <div class="fill">
        <div class="container">
          <a class="brand" href="#"><%= title %></a>
          <ul class="nav">
            <li class="active"><a href="#">Home</a></li>
          </ul>
          <form action="" class="pull-right">
          </form>
        </div>
      </div>
    </div>

    <div class="container">

      <div class="content">
        <%- body %>
      </div>

      <footer>
        <p>&copy; Company 2011</p>
      </footer>

    </div>



  </body>
</html>
